<main
  class="grid grid-flow-col auto-cols-fr w-full h-[100vh]"
  (window:keydown.space)="generateColors()"
>
  <div
    [style.background-color]="firstColor"
    class="p-4 text-center flex flex-col justify-center items-center"
  >
    <div
      class="color-box p-2 cursor-pointer rounded transition-colors"
      (click)="copyColor(firstColor)"
      matTooltip="Copy color to clipboard"
      matTooltipClass="custom-tooltip"
    >
      <p class="font-semibold">
        {{ firstColor.toUpperCase() }}
      </p>
    </div>
  </div>
  <div
    [style.background-color]="secondColor"
    class="p-4 text-center flex flex-col justify-center items-center"
  >
    @if (showCopyInfo) {
    <p
      [@fadeAnimation]
      class="text-white bg-stone-400 p-2 rounded fixed top-24 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-opacity"
    >
      Color copied!
    </p>
    }
    <div
      class="color-box p-2 cursor-pointer rounded transition-colors"
      (click)="copyColor(secondColor)"
      matTooltip="Copy color to clipboard"
      matTooltipClass="custom-tooltip"
    >
      <p class="font-semibold">
        {{ secondColor.toUpperCase() }}
      </p>
    </div>
  </div>
  <div
    [style.background-color]="thirdColor"
    class="p-4 text-center flex flex-col justify-center items-center"
  >
    <div
      class="color-box p-2 cursor-pointer rounded transition-colors"
      (click)="copyColor(thirdColor)"
      matTooltip="Copy color to clipboard"
      matTooltipClass="custom-tooltip"
    >
      <p class="font-semibold">
        {{ thirdColor.toUpperCase() }}
      </p>
    </div>
  </div>
</main>

<button
  class="fixed bottom-16 left-0 right-0 w-32 mx-auto bg-slate-300 border-2 border-slate-500 hover:bg-slate-500 hover:border-slate-600 hover:text-white transition-colors p-2 rounded"
  (click)="generateColors()"
>
  Generate
</button>
